:host {
  display: block;
  min-height: 100dvh;
  background-color: #0a0a0c;
  color: #f8f9fa;
  --accent: #e50914;
  width: 100%;
}

main {
    margin-left:260px;
    padding:30px;
}



@media(max-width:900px){
  main{
      margin-left:75px;
  }
}